.fixed {
  /* z-index: 1500; */
  /* width: 25vw;
  height: 38.5vh; */
  /* position: fixed; */
  margin: 0;
  background-color: white;
  border-radius: 10px;
  padding: 0.8rem;
  overflow: auto;
  margin: 1rem;
  /* width: 26rem;*/
  /* min-height: 20rem; */
  height: 26rem;
  /* min-height: 400px; */
  flex-grow: 1;
}

.grid {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap; */
  overflow: scroll;
  /* padding: 2rem 1rem; */
  /* width: 90vw; */
  height: 80vh;
}

.icon {
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  border-radius: 5%;
  transition: all 0.1s ease 0s;
}

.character {
  padding: 0;
  margin: 0.5rem;
  max-width: 80px;
  overflow: hidden;
}

.characterName {
  margin: 0;
  font-size: 0.8rem;
  overflow: hidden;
}

.characterArea {
  display: flex;
  flex-wrap: wrap;
}

.backButton {
  justify-content: center;
  margin: auto;
  display: flex;
}

.main {
  padding-right: 1rem;
  /* flex-shrink: 5; */
  padding-top: 1rem;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  /* .grid {
    height: 70vh;
  } */
}
