.episodeMain {
  border-radius: 10px;
  margin: 1rem;
  margin-left: 0;
  /* overflow: hidden; */
}

.main {
  width: 90%;
  max-width: 400px;
  min-width: 150px;
  /* height: 50px; */
  margin: auto;
  display: flex;
  border: 1px solid #3f51b5;
  float: inline-start;
  position: sticky;
}

.body {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  padding-bottom: 15px;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  background-color: #fafafa;
  /* border-radius: 10px; */
}

.searchArea {
  flex-grow: 1;
  padding: 2px 10px;
}

.icon {
  padding: 12px;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 1000px) {
  .body {
    padding: 10px;
    height: 70px;
  }
}
