.main {
  font-size: 1.3rem;
  height: 95vh;
  overflow: scroll;
  /* max-width: 300px; */
  margin: 0;
  margin-left: 5px;
  /* flex-grow: 5; */
  /* flex-shrink: 3; */
  background-color: lightblue;
}

.listElement {
  cursor: pointer;
  background-color: #fff;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  border-radius: 10px;
}

.listElement:hover {
  /* cursor: pointer; */
  background-color: #3f51b5;
  color: #fff;
}

.active {
  background-color: #3f51b5;
  color: #fff;
}

@media (max-width: 1000px) {
  .listElement {
    font-size: 0.8rem;
  }
  .main {
    /* max-height: 20vh; */
    height: auto;
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
  }
  .listElement {
    min-width: 30vw;
    max-height: 10vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* max-width: 200px; */
    float: left;
  }
}
