.main {
    font-size: 1.3rem;
    height: 100vh;
    overflow: scroll;
}

.listElement {
    cursor: pointer;
    background-color: #fff;
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
    border-radius: 10px;
}

.listElement:hover {
    /* cursor: pointer; */
    background-color: #3f51b5;
    color: #fff;
}