.main {
  font-size: 1.3rem;
  overflow-y: scroll;
  margin: 0;
  padding: 0 18px;
  background-color: lightblue;
}

.listElement {
  cursor: pointer;
  background-color: #fff;
  margin: 1rem auto;
  margin-left: 0;
  padding: 1rem;
  border-radius: 10px;
}

.listElementSkeleton {
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
}

.listElement:hover {
  background-color: #3f51b5;
  color: #fff;
}

.active {
  background-color: #3f51b5;
  color: #fff;
}

.spinner {
  display: flex;
  justify-content: center;
}

.progress {
  margin: auto;
}

.searchSkeleton {
  width: 100%;
  max-width: 400px;
  min-width: 170px;
  padding: 15px 0;
  /* display: grid; */
  margin: auto;
}

@media (max-width: 1000px) {
  .listElement {
    font-size: 0.8rem;
  }
  .main {
    height: auto;
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 200;
    padding: 0;
    /* flex-direction: row; */
  }
  .listElement {
    min-width: 30vw;
    /* max-height: 50px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: 10px !important;
  }
  .listElementSkeleton {
    min-width: 30vw;
    /* max-height: 50px; */
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: 10px !important;
  }
  .spinner {
    margin-top: 2vh;
    max-height: 70px;
  }
  .searchSkeleton {
    padding: 10px;
  }
}
