.authButton {
  float: right;
  margin: 1vh 0;
  text-align: right;
  margin-right: 5vw;
  font-size: 2rem;
  font-family: "Kaushan Script";
}

.authButton:hover {
  cursor: pointer;
  border-bottom: 5px solid cyan;
}

.siteName {
  flex-grow: 1;
  font-size: 2.5rem;
  margin: 1vh 0;
  font-family: "Kaushan Script", cursive;
  padding-left: 5vw;
  cursor: pointer;
}

.signInMessage {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-size: 5rem;
}
