/* .container {
  background-image: url("../../public/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
/*
.main {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  height: 100vh;
  align-content: center;
  /* background-color: white; /
}

.profile {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: max-content;
  /* color: white; /
}
.profile_details {
  display: grid;
  grid-template-columns: 1fr;
}
.character_details {
  border: initial;
  border-bottom: solid;
  border-width: 1px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  /* font-family: "Kaushan Script", cursive;
  font-size: 5rem; /
}
.back a {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  color: #2b5496 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #2b5496 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.back a:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
@media (max-width: 650px) {
  .profile {
    grid-template-columns: auto;
  }
} */

/* .root{-webkit-box-align: stretch;
align-items: stretch;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: normal;
margin-left: auto;
margin-right: auto;
max-width: 100%;
padding: 10px;
width: 900px;} */
.top {
  display: flex;
  height: 100%;
}
.iconBack {
  border-radius: 5px;
  /* height: 30px; */
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
}

.iconBack:hover {
  color: #3f51b5;
  background-color: white;
}
.root {
  /* display: flex;
  flex: 1 1 0%;
  flex-direction: row; */
  /* display: grid;
  grid-template-columns: auto auto;
  column-gap: 0px;
  justify-content: space-around; */
  display: flex;
  /* height: 100%; */
  column-gap: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  /* height: 100vh; */
}

.container1 {
  /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
  flex: 0 0 45%;
  margin-right: 0px;
  padding: 25px 0 15px 0;
  border: 1px solid black;
  border-radius: 20px;
  margin: auto 30px;
  max-width: 350px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.profile_image {
  /* width: 65%; */
  display: grid;
  place-items: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}
.name {
  font-size: 1.875rem;
  line-height: 1.25;
  font-weight: 700;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.new_heading {
  height: 80px; /* 64 + 16 */
  position: sticky;
  top: -16px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

.new_heading::before,
.new_heading::after {
  content: "";
  display: block;
  height: 16px;
  position: sticky;
}

.new_heading::before {
  top: 48px; /* 64 - 16 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  margin: 0 3px;
}

.new_heading::after {
  background: linear-gradient(white, rgba(255, 255, 255, 0.3));
  top: 0;
  z-index: 2;
}

.new_heading > div {
  height: 64px;
  padding: 20px;
  position: sticky;
  top: 0px;
  margin-top: -16px;
  z-index: 3;
}
.heading_box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* margin: 0 10px 5px 10px; */
  background-color: #fff;
  border: solid 2px;
  /* border-radius: 10px; */
  position: sticky;
  top: 0;
  z-index: 100;
}
.heading {
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* color: rgb(160, 174, 192); */
  /* text-transform: uppercase; */
  margin-right: 10px;
}
.line {
  flex: 1 1 0%;
  height: 1px;
  background-color: rgb(50, 57, 65);
}
.info {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  /* color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
}
.section {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 10px;
}

.sub_heading {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 800;
}

.container2 {
  /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
  flex: 1 1 0%;
  padding: 15px 20px 10px;
  /* height: 90vh; */
  /* margin-top: 4%; */
  margin-bottom: 4%;
  max-width: 350px;
  /* background-color: lightblue; */
}
.episode {
  list-style-type: none;
  border: solid 1px;
  border-radius: 10px;
  margin: 1rem;
  background-color: #fff;
  padding: 0.5rem;
}
.episode:hover {
  box-shadow: #3f51b5 0px 10px 15px -3px, #3f51b5 0px 4px 6px -2px;
  cursor: pointer;
  background-color: #3f51b5 !important;
  color: white;
}
.episode_name {
  font-size: 15px;
  text-align: center;
  margin-bottom: 2px;
}
.date {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 0px;
  font-size: 12px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.image {
  padding: 10px;
}

@media (max-width: 700px) {
  .top {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 15px;
  }
  .iconDiv {
    position: sticky;
    top: 0;
    z-index: 150;
    background-color: white;
  }
  .root {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container1 {
    position: initial;
  }
  .container2 {
    height: auto;
    overflow: unset;
  }
}

/* @media screen and (min-width: 30em) {
  .root {
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 10px;
  }
  .container1 {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
} */

.mainBlock {
  height: 100%;
}
