.gridTile {
  margin: 1.5rem;
  height: 300px;
  border-radius: 4%;
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.gridTile:hover {
  border-color: black;
}
