@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 8vh;
  margin-bottom: 5vh;
  font-family: 'Kaushan Script', cursive;
}

.MuiGridListTile-tile {
  border-radius: 4%;
  overflow: hidden;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }
}
