.loadMore {
  display: flex;
  margin: 2vh auto;
  margin-bottom: 3vh;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.loadButton {
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
  color: #2b5496 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #2b5496 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.loadButton:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

.partition {
  display: grid;
  grid-template-columns: 374px 8fr;
  height: 100%;
}

.homeMain {
  /* height: 95vh; */
  height: 100%;
  overflow-y: scroll;
}

.spinner {
  display: flex;
  margin-top: 25vh;
}

.homeWidget {
  height: 100%;
  overflow: scroll;
}

.progress {
  margin: auto;
}

/* @media (max-width: 800px) {
  .partition {
    grid-template-columns: 4fr 7fr;
  }
} */

.skeletonSearch {
  width: 90%;
  max-width: 400px;
  min-width: 150px;
  padding: 15px;
}

.skeletonImage {
  margin: 1.5rem;
}

.skeletonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 8%;
}

.skeletonHome {
  display: grid;
  place-items: center;
}

@media (max-width: 1000px) {
  .partition {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
  }
  .skeletonImage {
    max-width: 140px;
    max-height: 165px;
    margin: 0.8rem;
    overflow: hidden;
  }
}